.red{
    height: 60px;
    width: 250px;
    background-color: red;
    position: relative;
    left: -200px;
    border-radius: 7px; 
    animation-duration: 2.5s;
    transform-origin: bottom;
}

.red:hover{
    animation-timing-function: ease-out;
    animation-name: bounce;

}
@keyframes bounce{
    0% {transform: translateX(0px);}
    50% {transform: translateX(50px);}
    100% {transform: translateX(50px);}
}



.blue{
    height: 60px;
    width: 250px;
    background-color: blue;
    position: relative;
    left: -200px;
    border-radius: 7px; 
    animation-duration: 2.5s;
    transform-origin: bottom;
}

.blue:hover{
    animation-timing-function: ease-out;
    animation-name: bounce;
}

.green{
    height: 60px;
    width: 250px;
    background-color: green;
    position: relative;
    left: -200px;
    border-radius: 7px; 
    animation-duration: 2.5s;
    transform-origin: bottom; 
}

.green:hover{
    animation-timing-function: ease-out;
    animation-name: bounce;
}

.gray{
    height: 60px;
    width: 250px;
    background-color: #a9a9a9;
    position: relative;
    left: -200px;
    border-radius: 7px; 
    animation-duration: 2.5s;
    transform-origin: bottom; 
}

.gray:hover{
    animation-timing-function: ease-out;
    animation-name: bounce;
}

div {
    position: absolute;
    left: 100px;
}